body, html
{
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: #3470B4;
    color: #fff;
}

a
{
    color: inherit;
}

a.link
{
    text-decoration: none;
	font-style: italic;
    letter-spacing: 2.6px;
    
}

a.link:hover
{
    text-decoration: underline;
    font-size: 14px;
}

.bold
{
    font-weight: 700;
    font-size: 14px;
}

.contentdiv
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* Menu */
.menu
{
    background-color: #111;
    opacity: 0.9;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    top: 0;
    left: 0;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    float: left;
    letter-spacing: 2.6px;
}

li a
{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px 16px;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}

li a:hover
{
    background-color: #111;	 
}

/* Welcome */
#welcome
{
    background-image: url("images/me.png");
    background-position: center;
    background-color: #528DCE;
    width: 100%;
    min-height: 100%;
    padding-top: 57px;
    text-align: center;
    background-size: cover;
}

#welcomebox
{
    background-color: #528DCE;
    opacity: 0.9;
    width: 100%;
    padding: 5px;
    margin: 0px;
	border-width: 2px;
    width: 600px;
	border-style: dotted;
    text-align: center;
}

p.welcome 
{
    letter-spacing: 2px;
	font-size: 13px;
    margin-bottom: 35px;
	margin-top: 20px;
	font-style: italic;
	margin-bottom: 2px;
}

p.name
{
    font-size: 64px;
	line-height: 73px;
	margin-bottom: 25px;
	font-weight: 200;
    letter-spacing: 3px;
}

/* Intro */
#intro
{
    background-color: #528DCE;
    width: 100%;
    min-height: 200px;
    padding-top: 57px;
    text-align: center;
}

.introtext
{
    letter-spacing: 1px;
	font-size: 12px;
}

/* About/Skills */
#about
{
    background-color: #3470B4;
    display: block;
    width: 100%;
    min-height: 450px;
    padding-top: 57px;
    text-align: center;
}

.profilepic
{
    width: 250px;
}

.abouttext
{
    letter-spacing: 1px;
	font-size: 12px;
}

.skillstext
{
    letter-spacing: 1px;
	font-size: 12px;
    text-align: left;
    padding-left: 20px;
}

.abouttable
{
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.aboutcolumn
{
    border-width: 0px 1px 0px 1px;
	border-style: dotted;
    padding: 5px;
}

.aboutheader
{
    letter-spacing: 6.0px;
	font-size: 16px;
	margin-bottom: 2px;
	font-weight: 700;
}

/* Education */
#education
{
    background-color: #114279;
    display: table;
    width: 100%;
    height: 500px;
    padding-top: 57px;
}

.eductationtext
{
    letter-spacing: 1px;
	font-size: 12px;
}

.educationtable
{
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.eductationheader
{
    letter-spacing: 10.0px;
	font-size: 20px;
	margin-bottom: 2px;
}

.schoolimg
{
    height: 80px;
    padding: 10px;
}

/* Projects */
#projects
{
    background-color: #072B54;
    display: table;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    padding-top: 57px;
}

.projectheader
{
    letter-spacing: 4.0px;
	font-size: 34px;
	line-height: 50px;
    text-align: left;
    margin-bottom: 15px;
}

.projecttext
{
    font-size: 12px;
    letter-spacing: 1px;
}

.projecttip
{
    font-size: 10px;
    letter-spacing: 1px;
    font-style: italic;
}
.projecttable
{
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-width: 0px 0px 1px 0px;
	border-style: dotted;
}

.projectname
{
    letter-spacing: 4.0px;
	font-size: 16px;
	font-weight: 600;
}

.projecttext-left
{
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
}

.projecttext-right
{
    text-align: right;
    vertical-align: middle;
    padding-right: 20px;
}

.projectimage
{
    width: 150px;
    height: 165px;
}

.projectimage:hover
{
    opacity: 0.8;
}

.experience
{
    letter-spacing: 2.0px;
    font-style: italic;
    font-weight: 700;
}

.popup
{
    display: none;
    background: #000;
    opacity: 0.4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 1001;
}

.popupcontent
{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1002;
    text-align: center;
}

/* Contact */
#contact
{
    background-color: #1859A1;
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 57px;
}

.contacttable
{
    table-layout: fixed;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
}

.icon
{
    width: 100px;
    height: 100px;
    display: inline-block;
}

.icon:hover
{
    opacity: 0.75;
}

.iconlink
{
    text-decoration: none;
    letter-spacing: 3.0px;
}
